beautifulsoup4     
boto3              
botocore           
certifi           
charset-normalizer 
idna               
jmespath          
pip                
python-dateutil    
requests           
s3transfer         
setuptools         
six                
soupsieve          
typing_extensions  
urllib3            
moto
pytest
flake8
safety
bandit
bs4